<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>96304995726-ir3g58fcokuenqorrbm3ul80osnpi2jm.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.96304995726-ir3g58fcokuenqorrbm3ul80osnpi2jm</string>
		<key>ANDROID_CLIENT_ID</key>
		<string>96304995726-d47v35phhnjvpce8pj9hqp5ikaoukkas.apps.googleusercontent.com</string>
		<key>API_KEY</key>
		<string>AIzaSyB6DBKUyXTCnsmBcNkoKHgp0cxlHYW-hB4</string>
		<key>GCM_SENDER_ID</key>
		<string>96304995726</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.turisteapp</string>
		<key>PROJECT_ID</key>
		<string>helpbits-13b9e</string>
		<key>STORAGE_BUCKET</key>
		<string>helpbits-13b9e.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:96304995726:ios:80cdf6a70e5f07dd8698df</string>
		<key>DATABASE_URL</key>
		<string>https://helpbits-13b9e.firebaseio.com</string>
	</dict>
</plist>